@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme {
  --color-darkbrown: #3b3024;
  --color-brown: #d9b88c;
  --color-yellow: #ffe9a6;
  --color-orange: #e75a3c;
  --color-coral: #ffa996;
  --color-pink: #ffd5dc;
  --color-green: #9ae8e5;
  --color-ivory: #fffcf7;
  --color-gray: #bdbdbd;
  --font-roboto: "Roboto", sans-serif;
  --font-bungee: "Bungee Inline", sans-serif;
}
.text-shadow {
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}
.text-shadow:active {
  text-shadow: none;
}
.card-wrap {
  @apply w-[100px] h-[100px] relative;
  transition: all 0.6s ease;
  perspective-origin: center;
  transform-style: preserve-3d;
  will-change: transform;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}
@media (max-width: 500px) {
  .card-wrap {
    @apply w-[90px] h-[90px];
  }
}
@media (max-width: 424px) {
  .card-wrap {
    @apply w-[80px] h-[80px];
  }
}
.card-wrap,
.card {
  transform: translateZ(0);
}
.card-wrap:active,
.card-wrap.flip {
  transform: rotateY(180deg);
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.card-group.pop {
  animation: pop 0.2s ease-in-out;
}
.card {
  @apply w-full h-full border-2 border-darkbrown rounded-md flex items-center justify-center absolute top-0 left-0;
  backface-visibility: hidden;
}
.card.front {
  @apply bg-brown;
  z-index: 2;
}
.card.back {
  transform: rotateY(180deg);
  z-index: 1;
}
